@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* General */
:root {
	--main-bg: #1f1f1f;
	--main-white: #edf0f1;
	--alt-blue: #0088a9;

	--montserrat: "Montserrat", sans-serif;
}

* {
	box-sizing: border-box;
	color: var(--main-white);
	font-family: var(--montserrat);
}

html {
	min-height: 100vh;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	height: 100%;
	background-color: var(--main-bg);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}
.hover-color {
	transition: color 0.3s ease-in-out;
}
.hover-color:hover {
	color: var(--alt-blue);
}

.link-list {
	list-style-type: none;
}
.link-list li {
	padding: .5rem;
}

/* Header */
header {
	width: 75%;
	height: 10%;
	margin: 0 auto 2rem;
	padding: 1.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .greeting {
	font-size: 1.5rem;
}
header .search-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 40%;
}
header .search-container input,
button,
img {
	margin: 0;
	height: 2.5rem;
	border-radius: 5px;
}
header .search-container input {
	width: 50%;
	padding: 8px;
	color: black;
	border: none;
	outline: none;
}
header .search-container button {
	position: relative;
	right: 5px;
	bottom: 1px;
	background-color: transparent;
	border: none;
	outline: none;
}

/* aside */
.toggle-button {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 1;

	background: none;
	border: none;
	outline: none; /* prevents focusing */
	cursor: pointer;
	font-size: 2.5rem;
}

aside {
	height: 100%;
	width: 15vw;
	position: absolute;
	top: 0;
	right: 0;

	transform: translateX(15vw);
	transition: transform 1s ease;
	background-color: black;
}
aside ul {
	position: absolute;
	top: 1.25rem;
	left: 0;
	transition: transform 1s ease;
}
aside li {
	border-radius: 10px;
}
.hover-bg:hover {
	background: #1f1f1f;
}

aside.active,
.sidenav.active {
	transform: translateX(0);
}

/* main */
main {
	width: 75%;
	margin: auto;

	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
main .anchor,
.blue,
.red {
	display: none;
}
section > h2 {
	text-decoration: underline;
}
section > a {
	display: block;
	padding: 0.5rem 0;
}
